<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ac.dao.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ac.model.Book">
        <id column="id" property="id" />
        <result column="book_name" property="bookName" />
        <result column="book_type" property="bookType" typeHandler="com.ac.enums.GenderHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, book_name, book_type
    </sql>

    <select id="listEnum" resultMap="BaseResultMap">
    select * from book
    </select>

</mapper>
